@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  /* Font */
  --font-icon: "Google Sans Flex", sans-serif;
  --font-title: "Sora", sans-serif;
  --font-text: "Inter", sans-serif;
  --font-code: "JetBrains Mono", monospace;
}

